.profile {
    width: 100px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto
}

.title {
    text-align:center;
}

.content {
    text-align:center;
}

.details {
    margin-top: 60px;
    padding: 40px;
    width: 400px;
    height: 200px;
    background-color: aquamarine;
    display: flex;
    align-items:center; 
    margin-left: auto; 
    margin-right: auto;
    box-shadow: 5px 5px black;
}